.loadmask.modal {
    background-color: rgba(40, 40, 40, .8);
}

.loadmask.modal .modal-body {
	margin: auto;
	content:url("../assets/loading.gif");
	padding-bottom: 25px;
}

.navbar .btn-refresh {
	float: right;
	margin-right: 10px;
}
.navbar-header .title {
	cursor: pointer;
}
.row.comment .panel-body {
	padding-bottom: 0px;
}
.comment-header .action-list {
	float: right;
}
/*.loadmask .modal-dialog {
    width: 200px;
}*/